:root {
    /*-----------------------
            COLORS
    -----------------------*/
    --primary-color: ;
    --secondary-color: ;

    /*-----------------------
        CONTAINERS-SIZE
    -----------------------*/
    --main-container: 75rem;
}

