:root {
    /*-----------------------
            COLORS
    -----------------------*/
    --first-color: #0282F9;
    --second-color: #303030;
    --third-color: #4D6876;

    /*-----------------------
        CONTAINERS-SIZE
    -----------------------*/
    --main-container: 100rem;
}

